<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Jamaica</span>
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        Wildlife Friendly Traveler
        <a class="mdl-navigation__link" href="">About</a>
        <a class="mdl-navigation__link" href="">Contact</a>
      </nav>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Top Concerns</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Food</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Art & Decor</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Clothing & Accessories</a>
      <a href="#scroll-tab-5" class="mdl-layout__tab">Live Animals</a>
      <a href="#scroll-tab-6" class="mdl-layout__tab">Plants</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">

        <div class="card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
            <img src="images/parrot.png" class="group-img">
            </div>
            <div class="mdl-cell mdl-cell--10-col">
              <h4>Parrots</h4>
              <p>Many species of parrots are threatened or endangered as they are commonly sold as a pet to tourists. This threatens their wild population and increases the chances of extinction in the wild.</p>
              <div class="more">
                More blah
                blah
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect more-toggle">
              More
            </a>
          </div>
        </div>



        <div class="card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
              <div class="round med"><img src="https://pixabay.com/static/uploads/photo/2014/08/26/13/28/sea-turtle-427942_960_720.jpg" class="group-img"></div>
            </div>
            <div class="mdl-cell mdl-cell--10-col">
              <h4>Turtles</h4>
              <p>Many species of parrots are threatened or endangered as they are commonly sold as a pet to tourists. This threatens their wild population and increases the chances of extinction in the wild.</p>
              <div class="more">
                <div class="image-gallery">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Hawksbill_Sea_Turtle_Carey_de_Concha_%285840602412%29.jpg">
                  <img src="https://muestracine.files.wordpress.com/2013/09/shutterstock_143039761.jpg">
                  <img src="https://pixabay.com/static/uploads/photo/2014/12/26/23/46/sea-turtle-580778_960_720.jpg">
                  <img src="https://pixabay.com/static/uploads/photo/2014/08/26/13/28/sea-turtle-427942_960_720.jpg">
                  <img src="http://vldb.org/2015/farm8.staticflickr.com/7393/12776939755_95e05ba862_o.jpg">
                  <img src="http://www.lbknews.com/wp-content/uploads/2012/07/greenseaturtle-1024x768.jpg">
                </div>

                <h5>Products made from Sea Turtles</h5>
                <p>Sea Turtles are used in many different products. Below are some of the most common types of products in Jamaica</p>
                <div class="product-listing">
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                      <div class="round small"><img src="https://www.nps.gov/drto/learn/nature/images/Sea_turtle_confiscatedUSFWS_1.jpg"></div>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <h6>Figurines</h6>
                      <p>Sea turtle figurines are made from juvenile sea turtles that are caught and killed.</p>
                    </div>
                  </div>
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                      <div class="round small"><img src="http://blogs.lsc.org/files/2016/04/20160427_112509.jpg"></div>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <h6>Leather and Leather Products</h6>
                      <p>Leather products such as shoes, boots, belts, and purses can be made out of sea turtle skin.</p>
                    </div>
                  </div>
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                      <div class="round small"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Turtle_soup_chinese.jpg/1280px-Turtle_soup_chinese.jpg"></div>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                      <h6>Turtle Soup</h6>
                      <p>While turtle soup can be made using unendangered turtles it's important to ensure it's not sea turtles.</p>
                    </div>
                  </div>

              </div>

            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect more-toggle">
              More
            </a>
          </div>
        </div>

      </div>
    </section>



    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">

      <div class="card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
              <div class="round med"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Chinese_cuisine-Shark_fin_soup-04.jpg" class="group-img"></div>
            </div>
            <div class="mdl-cell mdl-cell--10-col">
              <h4>Shark Fin Soup</h4>
              <p>Shark fin soup is eaten in many parts of the world and is made from a variety of different sharks.</p>
                <div class="more">
                  <h6>Recommendations</h5>
                  <p>There is no way to tell which type of shark fin was used to make the soup and many shark species are endangered. Due to this it's best to avoid shark fin soup. A tasty alternative is...</p>
                </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect more-toggle">
              More
            </a>
          </div>
        </div>

        <div class="card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
              <div class="round med"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Turtle_soup_chinese.jpg/1280px-Turtle_soup_chinese.jpg" class="group-img"></div>
            </div>
            <div class="mdl-cell mdl-cell--10-col">
              <h4>Turtle Soup</h4>
              <p>Turtle soup is a delicacy in many parts of the world. While turtle soup can be made with turtles that aren't endangered it's to know for sure what species of turtle was used.</p>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect more-toggle">
              More
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">Art & Decor</div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">Clothing & Accessories</div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-5">
      <div class="page-content">Live Animals</div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-6">
      <div class="page-content">Plants</div>
    </section>

  </main>
</div>

<!-- <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script>
  $('a.more-toggle').click(function(e) {
    var el;
    e.preventDefault();
    $(e.target).parents(".card-wide").find(".more").toggle();

    if ($(e.target).hasClass("more-toggle")) {
      el = $(e.target);
    } else {
      el = $(e.target).parents("a.more-toggle");
    }
    if (el.text().trim() == 'More') {
      el.text("Less")
    } else {
      el.text("More")
    }
  });
</script> -->
