<div class="hero">
  <h1>Helping you shop in an eco-friendly manner during your travels</h1> 
</div>
<div class="country-selector">
  Select a country you are traveling to<br>
  <form action="/countries/1" method="get">
  <select class="countries" id="country-select">
    <optgroup>
      <option value="bahamas">Bahamas</option>
      <option value="jamaica">Jamaica</option>
      <option value="thailand">Thailand</option>
    </optgroup>
  </select>
  </form>
</div>