<div class="hero">
  <h1>Helping you shop in an eco-friendly manner during your travels</h1> 
</div>
<div class="country-selector">
  Where are you are traveling to<br>
  <form action="/countries/1" method="get">
  <select class="countries" id="country-select">
    <optgroup>
      <option value="" selected disabled>Select Country</option>
      <option value="1">Jamaica</option>
      <option value="2">Thailand</option>
    </optgroup>
  </select>
  </form>
</div>